.first{
    background: darkgray;
    padding: 10px;
    border: 10px solid black;
}
.carTitle1{
    background-color: green;
}
.carTitle3{
    background-color: yellow;
    
}
.carTitle2{
    background-color: red;
}